# Ignore node_modules directory
node_modules/

# Ignore build directory
build/
dist/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore editor-specific files (e.g., VSCode)
.vscode/
.idea/

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore any other irrelevant files or directories
*.tmp
*.bak
