.acneTypesContainer {
    margin-top: 20px;
}

.acneTypeGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.acneTypeItem {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.acneType {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.acneProbability {
    color: #ff6347;
    font-weight: bold;
}

.acneProbabilityHighest {
    color: white;
    font-weight: bold;

}

/* Class for the highest probability item */
.highestProbability {
    background-color: red;
    color: white;
}

/* Other result styling */
.resultContainer .normalContainer .resultText {
    color: #3CB371;
    font-weight: bold;
}

.resultContainer .normalContainer {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.resultContainer .normalContainer .result {
    display: flex;
    justify-content: space-between;
}

.resultContainer .normalContainer .confidence {
    display: flex;
    justify-content: space-between;
}