.acneTypesContainer {
    margin-top: 20px;
}

.acneTypeGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.acneTypeItem {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.acneType {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.acneProbability {
    color: #ff6347;
}