.explainButton {
    position: relative;
    top: 0;
    left: 92%;
    background-color: #ffcccc;
    /* Light red background */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.explainButton:hover {
    background-color: #ff9999;
    /* Darker red on hover */
}

.modalContainer {
    padding: 0;
    margin: 0;
    border: 2px solid white;
}

.modalContentStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #150909c7;
    /* Changed color for the background */
    border-radius: 6px;
    box-shadow: 24px;
    padding: 16px;

    height: 100%;
    width: 700px;
    height: auto;

    padding: 0;
    margin: 0;
}